{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>

  <form method="POST" action="/calc">
    <input type="text" name="sites" />
    <input type="submit" />
  </form>

{% endblock %}
