<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style-bundled.css' />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul id="myULContainer">

          </ul>

          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="/javascripts/scripts-bundled.js"></script>
  </body>
</html>
