@import '~datatables.net-dt/css/jquery.dataTables.min.css';
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
  tr {
    td {
      word-break: break-all;
    }
  }
}

a {
  color: #00B7FF;
}
