<!DOCTYPE html>
<html lang="en" id="wrapper">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Синтаксис шаблонов</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production-версия, оптимизированная для размера и скорости -->
<!--    <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

</head>
<body id="main">
<h2>Интерполяции</h2>
<span v-once>Это сообщение никогда не изменится: {{ msg }}</span>

Значение выражения в двойных фигурных скобках подставляется как простой текст, а не как HTML. Для HTML необходимо использовать директиву v-html:
<p>Двойные фигурные скобки: {{ rawHtml }}</p>
<p>Директива v-html: <span v-html="rawHtml"></span></p>

Используйте интерполяцию HTML только для доверенного кода, и никогда не подставляйте туда содержимое, создаваемое пользователями.

<h2>Атрибуты</h2>

Синтаксис двойных фигурных скобок не работает с HTML-атрибутами. Используйте вместо него директиву v-bind:
<div v-bind:id="dynamicId"></div>

При использовании с булевыми атрибутами (когда их наличие уже означает true) v-bind работает немного иначе. В этом примере:

<button v-bind:disabled="isButtonDisabled">Кнопка</button>
Если значением isButtonDisabled будет null, undefined или false, то атрибут disabled не добавится в элемент <'button>.


    <h2>
        Использование выражений JavaScript
    </h2>
    Пока мы связывали данные со свойствами в шаблонах только по простым ключам. Но на самом деле при связывании данных Vue поддерживает всю мощь выражений JavaScript:
    {{ number + 1 }}

    {{ ok ? 'YES' : 'NO' }}

    {{ message.split('').reverse().join('') }}

    <div v-bind:id="'list-' + id"></div>


    Выражения будут вычислены как JavaScript-код в области видимости соответствующего экземпляра Vue. Единственное ограничение в том, что допускается лишь одно выражение, поэтому код ниже НЕ сработает:
    <!-- это не вычисляемое выражение, а определение переменной: -->
    {{ var a = 1 }}

    <!-- операторы условий не сработают, используйте условные операторы в тернарной форме: -->
    {{ if (ok) { return message } }}

    <h2>
        Директивы
    </h2>
Директивы — это специальные атрибуты с префиксом v-. В качестве значения они принимают одно выражение JavaScript (за исключением v-for, которую мы изучим далее). Директива реактивно применяет к DOM изменения при обновлении значения этого выражения. Вспомним пример из введения:
<p v-if="seen">Сейчас меня видно</p>
В этом случае директива v-if удалит или вставит элемент <p> в зависимости от истинности значения выражения seen.

<h2>
    Аргументы
</h2>
Некоторые директивы могут принимать «аргумент», разделённый от названия директивы двоеточием. Например, директива v-bind используется для реактивного обновления атрибутов HTML:
<a v-bind:href="url"> ... </a>
В данном случае href — аргумент, указывающий директиве v-bind связать атрибут href элемента со значением выражения url.

Другим примером будет директива v-on, которая отслеживает события DOM:
<a v-on:click="doSomething"> ... </a>
В данном случае аргументом является тип события. Подробнее на обработке событий мы остановимся позднее.

<h2>
    Динамические аргументы
</h2>
<a v-bind:[attributeName]="url"> ... </a>
Здесь attributeName будет выполняться как выражение JavaScript, а его вычисленное значение использоваться в качестве финального значения аргумента. Например, если ваш экземпляр Vue имеет в данных свойство attributeName, значение которого равно "href", то это будет эквивалентно привязке v-bind:href.

<a v-on:[eventName]="doSomething"> ... </a>
Когда значение eventName будет "focus", то обработчик v-on:[eventName] будет эквивалентен v-on:focus.

<!-- Подобное вызовет предупреждение компилятора. -->
<a v-bind:['foo' + bar]="value"> ... </a>

Кроме того, если вы указываете шаблоны в DOM (шаблоны, написанные непосредственно в HTML-файле), вы должны не забывать, что браузеры приводят имена атрибутов в нижний регистр:
<!-- Будет преобразовано в v-bind:[someattr] при указании в шаблоне в DOM. -->
<a v-bind:[someAttr]="value"> ... </a>

<h2>
    Модификаторы
</h2>
Модификаторы — особые постфиксы, добавляемые после точки, обозначающие что директива должна быть связана каким-то определённым образом. Например, модификатор .prevent говорит директиве v-on вызвать event.preventDefault() при обработке произошедшего события:
<form v-on:submit.prevent="onSubmit"> ... </form>
Больше примеров применения модификаторов вы увидите далее, когда будем подробнее разбирать v-on и v-model.


<h2>Сокращения</h2>

Префикс v- служит для визуального определения Vue-специфичных атрибутов в шаблонах. Это удобно, когда Vue используется для добавления динамического поведения в существующей разметке, но для часто используемых директив может показаться многословным. В то же время необходимость в v- менее значима при создании одностраничных приложений, где Vue контролирует каждый шаблон. Поэтому есть сокращённая запись для двух наиболее часто используемых директив, v-bind и v-on:

Сокращение v-bind
<!-- полный синтаксис -->
<a v-bind:href="url"> ... </a>

<!-- сокращённая запись -->
<a :href="url"> ... </a>

<!-- сокращённая запись с динамическим именем аргумента (2.6.0+) -->
<a :[key]="url"> ... </a>


Сокращение v-on
<!-- полный синтаксис -->
<a v-on:click="doSomething"> ... </a>

<!-- сокращённая запись -->
<a @click="doSomething"> ... </a>

<!-- сокращённая запись с динамическим именем события (2.6.0+) -->
<a @[event]="doSomething"> ... </a>
Такие атрибуты на вид несколько отличаются от обычного HTML-кода, но символы : и @ являются валидными символами для названий атрибутов, и все браузеры поддерживающие Vue могут их корректно обработать. К тому же, в итоговой разметке они не появятся. Сокращённый синтаксис совершенно необязателен, но он скорее всего вам понравится, когда вы узнаете больше о том, как он используется далее.


</body>
</html>
